.chrome_hint {
    background-color: yellow;
    border: 2px solid orange;
    font-size: 10pt;
    padding: 0pt, 1pt;
    margin: 0;
    line-height: 10pt;
    position: absolute;
    z-index: 2147483647;
    color: #000;
    -webkit-transition: opacity 0.1s linear;
}
.chrome_not_candidate {
    opacity: 0;
}

#chrome_hitahintpanel {
    left: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 2147483647;
    border-radius: 6px;
    -webkit-transition: opacity 0.1s linear;
}
#chrome_hitahintinput {
    outline:0px none black;
    font-size: 20pt;
    border-radius: 6px;
}

#chrome_linksearchpanel {
    left: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 2147483647;
    border-top-right-radius: 6px;
    -webkit-transition: opacity 0.1s linear;
}
#chrome_linksearchinput {
    outline: none; /*0px none black;*/
    font-size: 20pt;
    border: 1px solid #ddd;
    border-top-right-radius: 6px;
    font-family: Helvetica, Arial, sans-serif;
}

.chrome_search_candidate {
    background-color: rgba(255,255,102,0.6) !important;
    z-index: 2147483647;
}
.chrome_search_selected {
    -webkit-transition: border 0.1s ease-in;
    /*-webkit-transform: scale(2);*/
    border: 2px solid rgba(205,102,0,0.6) !important;
    background-color: orange !important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,165,0,0.8)), to(rgba(205,102,0,0.8))) !important;
    -webkit-border-radius: 5px;
    color: white !important;
    z-index: 2147483647;
}
